/*stage1(test1)*/
.stage1 .game-bg     { -fx-background-color:#000000; }
.stage1 .game-wall   { -fx-background-color:rgb(0, 238, 190); }
.stage1 .game-pacman { -fx-background-color:#ffffff; }
/*stage2(test2)*/
.stage2 .game-bg     { -fx-background-color: rgb(43, 43, 43); }
.stage2 .game-wall   { -fx-background-color: #ff44cc; }
.stage2 .game-pacman { -fx-background-color: rgb(28, 221, 216); }

/*stage3(test3)*/
.stage3 .game-bg     { -fx-background-color:#1a0000; }
.stage3 .game-wall   { -fx-background-color:rgb(238, 30, 0); }
.stage3 .game-pacman { -fx-background-color:#ffaa00; }